<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>
      Hola Mundo Soy una Plantilla que nos va a cargar el archivo de las Views
      dinamico {{nombreusuario}}
    </h1>
    <h2>
      Le estamos Pasando mas de un parametro a Este template con Nuetsra Vista
      plantilladinamica por tanto le estamos Pasando
      NOmbreUsuarioIntroducidaEnLaUrl : {{nombreusuario}}
    </h2>
    <h3>
      Array que es una variable local de nuestra Funcion pasada a traves del
      context del Metodo Render de la vista : {{categories}}
    </h3>
    <ol>
      {% for categoria in categories %} {% if categoria == "web" %}
      <li><b>{{ categoria|upper }}</b></li>
      {% else %}
      <li>{{ categoria }}</li>
      {% endif %} {% endfor %}
    </ol>
    <h5>Total de categorias : {{ categories|length }}</h5>
    {% comment "Multilinea" %} Esto es un comentario Multilinea en Django
    {%endcomment %} {# Esto es un comentario en Django de una sola linea #}
  </body>
</html>
